{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <div class="container mt-header">
            <article class="row pt-header d-flex justify-content-center" id="step2">
                <h2 class="font_Gogh fs_40 cake_blue text-center mb-3">Каталог тортов</h2>
                {% for cake in cakes %}
                    <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center" style="padding-top: 30px;">
                        <div class="card border-0 cake__hover">
                            <a href="{% url 'cake_page' cake.id %}" class="card-img-overlay"></a>
                            <img src="{{ cake.image.url}}" style="max-height: 200px; max-width: 300px;"  alt="" class="">
                            <span class="cake_blue mt-4 fw-lighter mb-4 text-center">{{cake.title}}</span>
                        </div>
                    </div>
                {% endfor %}
            </article>
        </div>
    </main>
{% endblock %}