{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <div class="container mt-header">
            <article class="row pt-header d-flex justify-content-center">
                <h2 class="font_Gogh fs_40 cake_blue text-center mb-3">Заказ №{{ order.id }} успешно создан.</h2>
                <div class="col-12 col-lg-4 d-flex">
                    <div class="cake__card p-4 position-relative cake_grey">
                        <span>Имя: {{ order.name }}</span>
                        <span>Телефон: {{ order.phone }}</span>
                        <span>Email: {{ order.email }}</span>
                        <span>Адрес: {{ order.address }}</span>
                        <p></p>
                        {% if order.cake %}
                            <span>Торт: {{ order.cake.title }}</span>
                            <ul>
                                <li>Количество слоёв: {{ order.cake.levels_number.number }}</li>
                                <li>Форма: {{ order.cake.shape.get_title_display }}</li>
                                <li>Топпинг: {{ order.cake.topping.title }}</li>
                                <li>Ягода: {{ order.cake.berry.title }}</li>
                                <li>Декор: {{ order.cake.decor.title }}</li>
                                {% if order.cake.inscription %}
                                    <li>Надпись: {{ order.cake.inscription }}</li>
                                {% else %}
                                    <li>Без надписи</li>
                                {% endif %}
                            </ul>
                        {% else %}
                            <span>Ваш торт:</span>
                            <ul>
                                <li>Количество слоёв: {{ order.levels_number }}</li>
                                <li>Форма: {{ order.shape.get_title_display }}</li>
                                <li>Топпинг: {{ order.topping.title }}</li>
                                <li>Ягода: {{ order.berry.title }}</li>
                                <li>Декор: {{ order.decor.title }}</li>
                                {% if order.inscription %}
                                    <li>Надпись: {{ order.inscription }}</li>
                                {% else %}
                                    <li>Без надписи</li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        <span>Цена: {{ order.price }}₽</span>
                        {% if order.comment %}
                            <span>Комментарий к заказу: {{ order.comment }}</span>
                        {% endif %}
                        {% if order.delivery_comment %}
                            <span>Комментарий к курьеру: {{ order.delivery_comment }}</span>
                        {% endif %}
                    </div>
                </div>
            </article>
        </div>
    </main>
{% endblock %}